@import "tailwindcss";

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

@theme {
  --font-body: Inter, sans-serif;

}

